
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/JS/Ajax.js"></script>
</head>
<body>
    <input id="btn" value="xdxdxd" type="button" />
</body>
</html>